body {
  margin: auto;
}

title {
  margin: auto;
  color: rgb(148, 215, 237);
  text-align: center;
  line-height: normal;
}

li {
  text-align: center;
  text-decoration: wavy;
  text-decoration-color: rgb(106, 138, 167);
}

img {
  border: 4px inset rgb(201, 143, 143);
  width: 200px;
  height: 200px;
}

table, th, td {
  border-collapse: collapse;
  border: 5px dotted rgb(111, 102, 163);
  padding: 8px;
  justify-content: space-around;
  text-align: left;
  width: 200;
  height: 200;
}

th {
  text-align: left;
  height: 50px;
  vertical-align: bottom;
  border-bottom: 2px solid #8d2626;
}

td {
  text-align: center;
  height: 50px;
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
